// .flexbox-container-even{
//     display: flex; 
//     flex-direction: row;
//     justify-content: space-between
// }
// .flexbox-item-center-noGrow{
//     flex: 0 0;
//     align-self: center
// }
.timer_label{
    justify-content: end;
    text-align: end;
    font-size: x-large;
}

.dice_label{
    font-size: x-large;
}

.col-align-end{
    justify-content: end;
    text-align: end;
}
// .col-align-center {
//     justify-content: center;
//     text-align: center;
// }