.sections{
    padding: 16px;
    border-radius: 10px;
}
*.sections:hover{
    background-color: lightblue !important;
}
.sections-text{
    padding: 0px;
    margin-top:0px; 
    font-size: 11px;
    text-align: center;
}

.sections-img{
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 378.9625px;
    padding: 0px;
    // justify-content: center !important;
}

@media (prefers-color-scheme : dark ), (prefers-color-scheme : light ) {
    .sections{
        padding: 16px;
        border-radius: 10px;
        background-color: '#ffd202'
    }
    *.sections:hover{
        background-color: lightblue !important;
    }
    .sections-text{
        padding: 0px;
        margin-top:0px; 
        font-size: 11px;
        text-align: center;
    }
}
