@import "scss/all-utilities";

.flexbox-container-center-1{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    background-color: #fbbc00 !important;
    color: white
}

.flexbox-container-center-2{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    background-color: #3b187b !important;
    color: white
}

.flexbox-container-center-img{
    display: flex; 
    flex-direction: row;
    justify-content: center
}

.flexbox-container-col-center{
    display: flex; 
    flex-direction: column;
    justify-content: center
}
.flexbox-container-even{
    display: flex; 
    flex-direction: row;
    justify-content: space-between
}
.flexbox-container-even-around{
    display: flex; 
    flex-direction: row;
    justify-content: space-around
}
.flexbox-item-center-noGrow{
    flex: 0 0 ;
    align-self: center;
    text-align: center;
}

.page__background {
    // background-color: blue !important;
    // background: blue !important;
    background-image: url('../src/containers/Home/res-life_background.png');
    height: 100%
}

.ad_FullWidth{
    //flex: none;
    align-self: flex-end;
    margin-bottom: 0px;
    
    bottom: 0;
    width: 100%;
}

ons-input .text-input, ons-search-input .search-input{
    color: white;
}